{% extends 'network/base.html' %}


{% block body %}

 <h1>Post Page..</h1>
 <div class="float-right">
   <input id="searchid" class="search" type="text" name="" placeholder="search by post">
 </div>

<div id="postsid"></div>


{% endblock %}

{% block js %}


<script type="text/javascript">
  $(document).ready(function(){
    $.ajax({
      url: 'http://127.0.0.1:8000/api/posts/',
      type: 'GET',
      success: function(data){
        for (i=0; i<data.length; i++){
           $("#postsid").append("<div id=section"+data[i].id+"><br><h3>" + data[i].user.username + "</h3><p id=body"+data[i].id+">" + data[i].body + "</p><p>" + data[i].created_at.split('T')[0] + "</p><hr></div>")
        }
      }
    })
  })
</script>


<script type="text/javascript">
  $(document).on('keyup', '.search', function(event){
    event.preventDefault();
    let srchdata = $("#searchid").val()

    $.ajax({
      url: 'http://127.0.0.1:8000/api/search/',
      type: 'GET',
      data: {'srch':srchdata},
      success: function(data){
        $("#postsid").html('')
        for (i=0; i<data.length; i++){
           $("#postsid").append("<div id=section"+data[i].id+"><br><h3>" + data[i].user.username + "</h3><p id=body"+data[i].id+">" + data[i].body + "</p><p>" + data[i].created_at.split('T')[0] + "</p><hr></div>")

        }
      }
    })
  })
</script>


{% endblock %}
